@charset "UTF-8";
/*tablilla rol*/
.tbnoah {width: 380px; padding: 50px; margin: 10px auto; border: 1px solid #101010;} 
.tbnoah .tbtt {font-family: 'Anton'; font-size: 30px; line-height: 30px; text-align: right; text-transform: uppercase; padding: 20px 20px 0px;} 
.tbnoah .tbtt span {color: #4a2121;} 
.tbnoah .tbdt {font-family: 'Roboto Condensed'; font-size: 8px; line-height: 8px; text-transform: uppercase; letter-spacing: 1px; padding: 10px 10px 0px;} 
.tbnoah .tbdt .fa {color: #4a2121;} 
.tbnoah .tbrl {font-family: 'Fira Sans'; font-size: 13px; line-height: 16px; text-align: justify;} 
.tbnoah .tbrl u {font-weight: 700; color: #4a2121; text-decoration: none;}
